* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --primary: #2979FF;
    --secondary: #eee;
    --hover: #0b65ff;
    --active: rgb(211, 208, 208);
}

/* main box - start */
.main {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary);
    position: fixed;
}
/* main box - end */

/* zawde font - start */
@font-face {
    font-family: zawde;
    src: url("/Ema-Poe-Shin/font/ZawDecode2.0_regular.ttf");
}
body {
    font-family: zawde;
}
/* zawde - font - end */

/* image box - start */
.image-box {
    width: 100%;
    height: 100%;
    background-color: #eee;
    padding: 5px;
    opacity: 5px;
    z-index: 10;
    display: none;
    position: absolute;
}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}
.image-box > img {
    filter: drop-shadow(-15px 15px 10px gray);
}
.image-box > .close-btn {
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    z-index: 1;
    position: absolute;
}
/* image box - end */

/* content box - start */
.content-box {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: scroll;
}
.content-box::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.content-box > .content-title {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color:rgba(255, 255, 255, 0.822);
    position: sticky;
    backdrop-filter: blur(5px);
    z-index: 1;
    top: 0;
}
.content-box > .specification {
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    gap: 5px;
    padding: 10px;
    position: relative;
}
@media screen and (max-width: 920px){
    .content-box > .specification {
        flex-direction: column;
    }
}
.specification > .product-img {
    width: 40%;
    align-self: flex-start;
}
@media screen and (max-width: 920px){
    .specification > .product-img {
        width: 100%;
        border-bottom: 1px solid black;
        margin-bottom: 15px;
    }
}
.specification > .product-details {
    padding: 10px;
    text-align: justify;
    width: 60%;
}
@media screen and (max-width: 920px){
    .specification > .product-details {
        width: 100%;
    }
}
.product-details > dl > dd {
    color: var(--primary);
}
.specification img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/* content box - end */
